<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<!-- <div class="footer-logo">
							<a class="logo" href="#">
		            			<img src="./img/SiYoSa-Logo.png" alt="">
		          			</a>
						</div> -->
						<h3 class="footer-header" style="text-transform:lowercase">Copyright © 2018 Savina.siyosa.net</h3>
						<!-- /footer logo -->

						<p>Số ĐKKD: 0312776486 - Ngày cấp: 13/05/2014, được sửa đổi lần thứ 6, ngày 23/05/2016. </p>
						<p>	Cơ quan cấp: Sở Kế hoạch và Đầu tư TPHCM.</p>
						<p>	Địa chỉ: Tòa nhà Nam Anh, số 41, Đường 41, Phường Thảo Điền, Quận 2, Tp.HCM.</p>
						<p>	Email: <u>lienhe@savina.com</u> </p>
						

						<!-- footer social -->
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-2 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">HỖ TRỢ KHÁCH HÀNG</h3>
						<ul class="list-links">
							<li><a href="#">Trung tâm trợ giúp</a></li>
							<li><a href="#">An toàn mua bán</a></li>
							<li><a href="#">Quy định cần biết</a></li>
							<li><a href="#">Liên hệ hỗ trợ</a></li>
							<li><a href="#">Login</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-2 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">VỀ CHÚNG TÔI</h3>
						<ul class="list-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Quy chế hoạt động</a></li>
							<li><a href="#">Chính sách bán hàng</a></li>
							<li><a href="#">Hệ thống kiểm định</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-2 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h3>
						<p>Thông tin của bạn sẽ được bảo mật tuyệt đối và bạn có thể hủy đăng ký bất cứ lúc nào..</p>
						<form>
							<div class="form-group">
								<input class="input" placeholder="Enter Email Address">
							</div>
							<button class="primary-btn">ĐĂNG KÝ</button>
						</form>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 2018
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>