<!-- header -->
<div id="header">
		<div class="container">
			<div class="pull-left">
				<!-- Logo -->
				<div class="header-logo">
					<a class="logo" href="#">
						<img src="./img/SiYoSa-Logo.png" alt="">
					</a>
				</div>
				<!-- /Logo -->

				<!-- Search -->
				<div class="header-search">
					<form>
						<input class="input search-input" type="text" placeholder="Enter your keyword">
						<select class="input search-categories">
							<option value="0">Theo khu vực</option>
							<option value="1">Theo giá</option>
							<option value="2">Theo hàng mới</option>
							<option value="3">Theo % sử dụng</option>
						</select>
						<button class="search-btn-text"><i class="fa fa-search"></i></button>
						<button class="search-btn-image"><i class="fa fa-camera"></i></button>
					</form>
				</div>
				<!-- /Search -->
			</div>
			<div class="pull-right">
				<ul class="header-btns">

					<!-- Mobile nav toggle-->
					<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
						
					<!-- Account -->
					<li class="header-account dropdown default-dropdown">
						<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-user-o"></i>
							</div>
							<strong class="text-uppercase">Tài khoản <i class="fa fa-caret-down"></i></strong>
						</div>
						<a href="#" class="text-uppercase">Login</a> / <a href="#" class="text-uppercase">Register</a>
						<ul class="custom-menu">
							<li><a href="#"><i class="fa fa-unlock-alt"></i> Đăng nhập</a></li>
							<li><a href="#"><i class="fa fa-user-plus"></i> Tạo tài khoản mới</a></li>
							<li><a href="#"><i class="fa fa-user-o"></i> Tài khoản của tôi</a></li>
							<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
							<li><a href="#"><i class="fa fa-check"></i> Hoàn thành đơn hàng</a></li>							
						</ul>
					</li>
					<!-- /Account -->

					<!-- Cart -->
					<li class="header-cart dropdown default-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<div class="header-btns-icon">
								<i class="fa fa-shopping-cart"></i>
								<span class="qty">3</span>
							</div>
							<strong class="text-uppercase">Giỏ hàng:</strong>
							<br>
							<span>35.20$</span>
						</a>
						<div class="custom-menu">
							<div id="shopping-cart">
								<div class="shopping-cart-list">
									<div class="product product-widget">
										<div class="product-thumb">
											<img src="./img/thumb-product01.jpg" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
											<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
										</div>
										<button class="cancel-btn"><i class="fa fa-trash"></i></button>
									</div>
									<div class="product product-widget">
										<div class="product-thumb">
											<img src="./img/thumb-product01.jpg" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
											<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
										</div>
										<button class="cancel-btn"><i class="fa fa-trash"></i></button>
									</div>
								</div>
								<div class="shopping-cart-btns">
									<button class="main-btn">View Cart</button>
									<button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
								</div>
							</div>
						</div>
					</li>
					<!-- /Cart -->

					
				</ul>
			</div>
		</div>
		<!-- header -->
	</div>