
<div id="top-header">
	<div class="container">
			<div class="pull-left">
				<span>Welcome to Savina - Tools Rental !</span>
			</div>
			<div class="pull-right">
				<ul class="header-top-links">
					<li><a href="#">Điều khoản</a></li>
					<li><a href="#"><img src="/img/flag-VN.jpg"></a></li>
					<li><a href="#"><img src="/img/flag-US.jpg" style="filter: grayscale(90%);"></a></li>
					<!-- <li><a href="#" style="display: inline;">Ngôn ngữ</a></li><span>VND</span><span>USD</span> -->
					<!-- <li class="dropdown default-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Ngôn ngữ <i class="fa fa-caret-down"></i></a>
						<ul class="custom-menu">
							<li><a href="#">English (ENG)</a></li>
							<li><a href="#">Vietnamese (VN)</a></li>
						</ul>
					</li> -->
					<li class="dropdown default-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Ngoại tệ <i class="fa fa-caret-down"></i></a>
						<ul class="custom-menu" style="width: 290px;line-height: 26px;" >
							<li><a href="#" style="display: inline; font-weight:600">USD </a><span>&nbsp (tỉ giá cập nhật theo ngân hàng ACB)</span></li>
							<li><a href="#" style="display: inline; font-weight:600">VND </a><span>&nbsp (tỉ giá cập nhật theo ngân hàng ACB)</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	